@media (max-width:430px) {
    .ending {
        margin-left: 40px ;
        display: flex;
        flex-direction: column;
    }
    .title-of-end {
        font-size: 20px;
        margin-top: 20px;
        
    }
    .title-of-end::after {
        width: 30%;
    }
    .title-of-end:hover:after {
        content:'';
        width: 90%
    }
    .contacts {
        margin-left: 4px;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    .number-of-phone, .email-of-ender, .alatoo-loc {
        font-size: 15px;
    }
    .numb {
        width: 5%;
    }
    .mail {
        width: 6%;
    }
    .local {
        width: 7%;
    }
    .email {
        margin-top: 10px;
    }
    .locat {
        margin-top: 9px;
    }
    .title-of-contacts {
        font-size: 24px;
    }
    .number {
        margin-top: 30px;
    }
    .subt {
        position: relative;
        top: 250px;
        margin-top: 1px;
        font-size: 10px;
                
    }
    .logotip {
        width: 150px;
    }




}



