 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;700&family=Roboto+Slab:wght@300&family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;600&family=Open+Sans&family=Roboto+Slab:wght@300&family=Tinos&display=swap'); 


.header-button {
    display: inline-block;
    color: rgb(254, 254, 254);
    font-size: 29px;
    font-weight: lighter;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    margin-right: 43px;
    transition: color 0.3s ease;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: none;
}

.header-button::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFDC33;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
}

.header-button:hover::after {
    transform: scaleX(1);
}

.header-button:hover {
    color: #FFDC33;
    text-decoration: none;
}

.header div {
    display: flex;
    justify-content: space-between;
   
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 17em;
}

/* @media (min-width: 1440px) {
    .header div {
        display: flex;
        justify-content: space-between;
    }
} */

.main-logo {
    margin-top: 7px;
}
.header {
    position: sticky;
    top: 0;
    width: auto;
    background-color: black;
    z-index: 10010;
    height: 100px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;

}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.custom-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .custom-tooltip .mini-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 30%;
    margin-left: -55px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  

  .custom-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; 
  }
.tooltiptext {
    display: flex;
    flex-direction: column;
}
.sign-up {
        display: inline-block;
        color: rgb(255, 255, 255);
        font-size: 19px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid #ffffff;
        border-radius: 89px;
        padding: 10px 15px;
        position: relative;
        font-weight: lighter;
        transition: all 0.5s ease;
        margin-top: 20px;
       
    

}
.sign-up:hover, .log-in:hover {

    background-color:#FFDC33;
    color:black;
    border-color: black;
    font-weight: 500;
}
.log-in {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 19px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ffffff;
    border-radius: 89px;
    padding: 10px 15px;
    position: relative;
    font-weight: lighter;
    transition: all 0.5s ease;
    margin-top: 15px;
    margin-bottom: 20px;

}


  .expand {
    width: 35%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 7px;
    transition: all 0.4s ease-in-out; 
    z-index: 1;
    border-radius: 4px

}

  .expand:hover {
    width: 100%; 
    height: 4px;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    margin-top: 20px;
  }



@media (max-width:1000px) {
    .header-button {
        display: none;
    }
    .navbar {
        margin-left: 1em;
    }
    .main-logo {
        width: 150px;
        position: absolute;
        left: 0;
        top: 0;
        margin: 15px;
    }
    .custom-tooltip {
        display: none;
    }
    .expand {
        width: 0px;
    }
    
   
    .mini-photo {
        display: none;
    }
    .header {
        z-index: 1000000000;
    }
    

}
@media (min-width:1000px) {
    .menu,  .menu-photo, .menutext  {
        display: none;
    }
    .header {
        z-index: 100000000;
    }
   
}
.menu {
    /* position: relative; */
    display: inline-block;
    cursor: pointer;
  }
  

  
  .menu .menutext {
    visibility: hidden;
    width: 120px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 30%;
    /* margin-left: -55px; */
    opacity: 0;
    transition: opacity 0.3s;
  }
  

  .menu:hover .menutext {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; 
  }
.menutext {
    display: flex;
    flex-direction: column;
}
