 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;700&family=Roboto+Slab:wght@300&family=Tinos&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;600&family=Open+Sans&family=Roboto+Slab:wght@300&family=Tinos&display=swap');
 
 
 body {
     background-color: black;
     margin: 0;
     padding: 0;
     color: #ffffff;
     font-family: 'Montserrat', sans-serif;
     /* overflow: hidden; */
 }
 
 .subtitle {
     font-family: 'Montserrat', sans-serif;
     font-size: 37px;
     color: white;
     margin-left: 7px;
     margin-top: 17px;
     font-weight: lighter;
     position: relative;
     z-index: 1000;

 }

 .title {
     font-family: 'Open Sans Hebrew', sans-serif;
     font-size: 100px;
     color: white;
     font-weight: bold;
     margin-right: 0px;

 }

 .title span {
     color: #FFDC33;
     border-bottom: 4px solid;

 }

 .button {
     display: inline-block;
     color: rgb(255, 255, 255);
     font-size: 36px;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
     border: 4px solid #ffffff;
     border-radius: 89px;
     padding: 30px 50px;
     margin-left: 32px;
     position: relative;
     font-weight: lighter;
     z-index: 1000;
     transition: color 0.5s ease, box-shadow 0.3s ease;
     box-shadow: 0 0 0 rgba(0, 0, 0, 0);
     margin-top: 60px;

 }

 .button:hover {
     box-shadow: 0 0 40px rgba(255, 220, 51, 0.5);
 }

 .section1 {
     padding-left: 50px;
 }

 .banner-title {
     /* background-image: url('./pages/фото/Frame 3.png'); */
     display: flex;
     /* width: 580px; */
     background-position: left;
     background-repeat: no-repeat;
     height: 80vh;
     position: relative;
     z-index: 1000;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     margin-top: 160px;


 }

 .bg-of-banner {
     margin-top: -36em;


 }

 .mallina {
     width: 720px;
     position: relative;
     z-index: 1;
 }

 .banner-title div {
     width: max-content;


 }

 .banner-photo {
     background-image: url('./src/assets/фото/Polygon 1 (1).png');
     background-repeat: no-repeat;
     background-position: top;
     margin-left: 100px;
     z-index: 10;

 }


 .banner {
     display: flex;
     justify-content: space-between;
 }

 @keyframes rotateAnimation {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 .food {
     margin-right: 5px;
     margin-top: -10px;
     animation: rotateAnimation 50s linear infinite;
 }

 .dish {
     display: flex;


 }

 .fruits {
     position: relative;
     right: 80em;
     top: -12em;
     z-index: 100;
 }

 .card1,
 .card2,
 .card3 {
     width: 450px;
     height: 612px;
     border: 2px solid white;
     border-radius: 43px;
     box-shadow: 0 0 0 rgba(0, 0, 0, 0);
     transition: box-shadow 0.3s ease;
     z-index: 3;
     background-color: black;
 }

 .card1:hover,
 .card2:hover,
 .card3:hover {
     box-shadow: 0 0 40px rgba(255, 220, 51, 0.5);
 }

 .card1:not(:hover),
 .card2:not(:hover),
 .card3 :not(:hover) {
     transition: box-shadow 0.3s ease;
     box-shadow: 0 0 0 rgba(0, 0, 0, 0);
 }

 .cards {
     display: flex;
     justify-content: space-around;
     margin-top: -16em;



 }

 .cards::after {
     content: '';
     background-image: url('./src/assets/фото/Frame 6.png');
     background-repeat: none;
     background-position: center;
     z-index: 11;


 }


 .pon {
     margin-left: 35px;
     margin-top: 15px;
 }

 .title-card1 {
     font-size: 38px;
     font-weight: bold;
     font-family: 'Open Sans', sans-serif;
     margin-left: 34px;
     margin-top: 1px;

 }

 .title-card1::after,
 .title-card2::after,
 .title-card3::after {
     content: '';
     display: block;
     width: 35%;
     height: 3px;
     background-color: #FFDC33;
     margin-top: 35px;
 }


 .subtitle-card1 {
     font-size: 22px;
     font-family: 'Montserrat', sans-serif;
     margin-left: 34px;
     margin-top: 40px;
     font-weight: lighter;
     position: relative;

 }

 .laptop {
     margin: 50px 40px;
 }

 .title-card2 {
     font-size: 38px;
     font-weight: bold;
     font-family: 'Open Sans', sans-serif;
     position: relative;
     top: -77px;
     margin-left: 34px;

 }

 .subtitle-card2 {
     font-size: 22px;
     font-family: 'Montserrat', sans-serif;
     margin-left: 34px;
     margin-top: -75px;
     font-weight: lighter;


 }

 .subtitle-card3 {
     font-size: 22px;
     font-family: 'Montserrat', sans-serif;
     margin-left: 34px;
     margin-top: -45px;
     font-weight: lighter;

 }

 .subtitle-card3 span {
     color: #FFDC33;
 }

 .meal {
     margin: 40px 40px;

 }

 .title-card3 {
     font-size: 38px;
     font-weight: bold;
     font-family: 'Open Sans', sans-serif;
     position: relative;
     top: -50px;
     margin-left: 34px;

 }

 .cards {
     background-image: url('./src/assets/фото/Frame 6.png');
     background-position: center;
     background-size: 1300px;
     background-repeat: none;

 }

 .rosberry {
     margin-left: 11em;
     margin-top: -8em;
 }


 .title-of-categories {
     font-size: 76px;
     font-weight: bold;
     font-family: 'Montserrat', sans-serif;
     display: flex;


 }

 .title-of-categories::before {
     content: '';
     display: block;
     width: 6%;
     height: 5px;
     background-color: #FFDC33;
     margin-top: 0.6em;
     margin-right: 0.3em;

 }


 .categories {
     margin-top: -1px;

 }

 .subtitle-of-categories {
     font-size: 36px;
     color: #FFDC33;
     font-weight: bolder;
     margin-left: 2.9em;

 }

 .zagol {
     margin-left: -30px;
     margin-top: 14em;
     padding-left: 8em;
     transform: translateX(-400%);
     transition: transform 2s ease;

 }

 .zagol.show {
     transform: translateX(0);

 }

 .zagol-of-comments {

     transform: translateX(-400%);
     transition: transform 1.5s ease;

 }

 .zagol-of-comments.show {
     transform: translateX(0);

 }

 .container {
     margin-top: -40em;

 }

 .galerry {
     display: flex;
     align-items: center;
     justify-content: center;
     transition: transform 0.5s ease;

 }

 .galerry div {

     display: flex;
     justify-content: center;

 }

 .img-box {
     height: 500px;
     width: 200px;
     margin: 5px;
     border-radius: 20px;
     background: url(./src/assets/фото/image\ 10.png);
     background-size: cover;
     background-position: center;
     transition: 0.5s;
     z-index: 10;
 }

 .img-box:nth-child(2) {
     background: url(./src/assets/фото/image\ 14.png);
     background-size: cover;
     background-position: center;
 }

 .img-box:nth-child(3) {
     background: url(./src/assets/фото/image\ 13.png);
     background-size: cover;
     background-position: center;
 }

 .img-box:nth-child(4) {
     background: url(./src/assets/фото/image\ 15.png);
     background-size: cover;
     background-position: center;
 }

 .img-box:nth-child(5) {
     background: url(./src/assets/фото/image\ 26.png);
     background-size: cover;
     background-position: center;
 }

 .img-box:nth-child(6) {
     background: url(./src/assets/фото/imageofsnack.png );
     background-size: cover;
     background-position: center;
 }

 .img-box:nth-child(7) {
     background: url(./src/assets/фото/imageofsnack.png );
     background-size: cover;
     background-position: center;
 }

 .img-box h3 {
     color: #FFDC33;
     position: absolute;
     top: 0;
     left: 20px;
     font-size: 35px;
     opacity: 0;
     transition: top 0.5s, opacity 0.5s;

 }

 .img-box:hover {
     filter: brightness(2.5);
     width: 380px;
     cursor: pointer;
 }

 .img-box:hover h3 {
     opacity: 1;

 }

 h3 {
     filter: brightness(0.7);
 }

 .galerry-wrap {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 10% auto;
 }


 .raspberry {
     position: relative;
     right: 32em;
     top: -12em;
     padding-left: 8em;
 }

 .button-of-categories {

     display: inline-block;
     font-size: 33px;
     text-decoration: none;
     padding: 13px 50px;
     margin-left: 35em;
     position: relative;
     top: -3em;
     font-weight: lighter;
     border: 2px solid #ad9622;
     color: #ad9622;
     transition: 0.7s ease;
 }

 .button-of-categories:hover {
     border: 2px solid #FFDC33;
     color: #FFDC33;
 }

 .container {
     margin-top: -50em;
 }

 .title-of-team {
     font-size: 76px;
     font-weight: bold;
     color: #ffffff;
     margin-left: 40px;
 }

 .title-of-team::before {
     content: '';
     background-color: #FFDC33;
     width: 90px;
     height: 5px;
     display: block;
     position: relative;
     right: 110px;
     top: 50px;

 }

 .subtitle-of-team {
     font-size: 36px;
     font-weight: bolder;
     color: #FFDC33;
     width: 550px;
     margin-left: 40px;
 }

 .zagol-of-team {
     margin-left: 150px;
     margin-top: 100px;
     position: relative;
     z-index: 2;
     font-family: 'Montserrat', sans-serif;
     transform: translateX(-400%);
     transition: transform 1s ease;
 }

 .zagol-of-team.show {
     transform: translateX(0);

 }

 .bg-of-team {
     margin-top: -441px;
     position: relative;
     right: 20px;
     z-index: 1;
     height: 1427px;
     width: 1384px;

 }

 .dudes {
     margin: 40px;
     display: flex;
     justify-content: center;
     margin-top: -610px;
     position: relative;
     z-index: 3;

 }


 .Myrza {
     position: relative;
     top: -200px;
     transition: transform 0.3s ease-in-out;
 }

 .Myrza:hover {
     transform: scale(1.1);
 }

 .Kutmansher,
 .Tilekmat {
     transition: transform 0.3s ease-in-out;
 }

 .Kutmansher:hover,
 .Tilekmat:hover {
     transform: scale(1.1);
 }

 .section4 {
     position: relative;
     top: 80px;
 }





 .title-of-comments {
     font-size: 76px;
     font-weight: bold;
     color: #ffffff
 }

 .subtitle-of-comments {
     font-size: 36px;
     font-weight: bolder;
     color: #FFDC33;
 }

 .title-of-comments::before {
     content: '';
     background-color: #FFDC33;
     width: 90px;
     height: 5px;
     display: block;
     position: relative;
     right: 110px;
     top: 50px;
 }

 .testimonials {
     padding-left: 12em;
     height: fit-content;
 }


 .user {
     font-size: 28px;
     font-weight: bold;
 }

 .name-of-user {
     font-size: 20px;
 }

 .name {
     margin-top: 20px;
     display: flex;
     align-items: center;
 }

 .imya {
     margin-left: 20px;
 }

 .kommenty {
     display: flex;
     align-items: baseline;
     justify-content: center;
     margin-right: 180px;
     margin-top: 130px;
     position: relative;
     z-index: 2;

 }

 .first-comment {
     margin: 20px;
 }

 .message {
     width: 445px;
     height: 395px;
 }

 .bg-of-comments {
     display: flex;
     align-items: start;
 }

 .lemon {
     position: relative;
     top: -2000px;
     left: 440px;
     z-index: 1;
 }

 body {
     max-width: 100%;
     overflow-x: hidden;
     max-height: 100vh;
     /* overflow: hidden;  */
 }

 .section5 {
     background-image: url("./src/assets/фото/Frame 11.png");
     background-repeat: no-repeat;
     margin-top: 18em;
     height: 950px;
     background-position-x: center;
     background-position-y: center;

 }

 .mallina {
     width: 100%;
     height: 100%;
     animation: fadeInFromLeft 1.5s ease-in-out forwards;
     position: relative;
     top: -20px;
     width: 690px;
     z-index: 1;
 }

 @keyframes fadeInFromLeft {
     from {
         opacity: 0;
         transform: translateX(-100%);
     }

     to {
         opacity: 1;
         transform: translateX(0%);
     }
 }

 .berries-1 {
     position: absolute;
     bottom: -25em;
     left: 39em;
     overflow: hidden;

     animation: slideBackground 1.5s ease-in-out forwards;
     z-index: 12;
 }

 @keyframes slideBackground {
     from {
         transform: translateX(100%);
     }

     to {
         transform: translateX(0%);
     }
 }


